<div>
	<label>
    Login email:
    <input type="email" name="email" placeholder="email">
  </label>
  <label>
    Password:
    <input type="password" name="password" placeholder="password">
  </label>
  <div>
	  <a href="#" id="facebookButton"><img src="images/facebook.png"></a>
	  <a href="#" id="twitterButton"><img src="images/twitter.png"></a>
  </div>
</div>