<div class="container-fluid">

  <div class="row">
		<div id="basic" class="col-xs-6 col-xs-offset-3">
			<label>
				First Name:
				<input type="text" name="fname">
			</label>
			<label>
				Last Name:
				<input type="text" name="lname">
			</label>
			<label>
				Job:
				<input type="text" name="job">
			</label>
			<label>
				Age:
				<input type="number" name="age" min="18">
			</label>
		</div>
	</div>

	<div class="row">
		<div id="profile" class="col-xs-6 col-xs-offset-3">
			<label>
				About You:
				<textarea name="profile"></textarea>
			</label>
			<label>
				Do you enjoy small spaces?
				<input type="radio" name="small-space" value="yes"> Yes
        <input type="radio" name="small-space" value="no"> No
      </label>
      <label>
				Tigers or Lions?
				<input type="radio" name="animals" value="tiger"> Tigers
        <input type="radio" name="animals" value="lion"> Lions
      </label>
      <label>
				Do you prefer your juggled items to be on fire?
				<input type="radio" name="juggle" value="yes"> Fire
        <input type="radio" name="juggle" value="no"> No Fire
      </label>
	      <label>
			Profile Photo URL:
			<input type="text" name="Photo">
		</label>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<button id="submit-profile" class="btn btn-default">Update Profile</button>
		</div>
	</div>
</div>